# CLion файлы
.idea/
*.iml

# Папки сборки CMake
cmake-build-*/
cmake-build-debug/
cmake-build-release/
build/

# Исполняемые файлы и библиотеки
*.exe
*.dll
*.so
*.a
*.lib

# Объектные файлы
*.o
*.obj

# SFML (если скачал в проект)
SFML-*/
SFML/

# Временные файлы
*.swp
*~
.DS_Store
Thumbs.db

# Папки с зависимостями
_deps/          # Если используешь FetchContent